.instructions {
  margin-right: 10px;
}

.action-link {
  cursor:pointer;
}

.clickable {
  cursor: pointer;
}
.clickable:hover {
  font-weight:bold;
}

button.danger {
  background-image: linear-gradient(to bottom, #ff1f72, #921241);
  border-color: #921241;
  color: #fff;
}

button.danger:hover {
  background-image: linear-gradient(to bottom, #ff1f72, #ff1f72);
  color: #fff;
}

.gray {
  color: #ccc;
}